
#ignore thumbnails created by windows

Thumbs.db

#Ignore files build by Visual Studio

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.suo
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

*.tlog
*.idb
*.ipch
*.sdf

# Pour la sfgmk on upload aussi les .lib et .dll pour faciliter les builds
# *.dll
# *.lib

*.sbr
*.opensdf
*.iobj
*.ipdb

*.exp

obj/*
bin/Debug/*
bin/Release/*
bin/data/editor/temp.gmkscene
